@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Inter', sans-serif;
  background: #F3F3F3
}
.course-title{
  font-size: 32px;
  font-weight: 700;
  color: #1C1B1B;
  
}
.cards{
  /* width: 850px; */
  /* display: flex;
  flex-wrap: wrap;
  height: 320px;
  gap: 10px; */
}
.card-items{
  /* width: 250px; */
  /* height: 350px; */
  /* border: 1px solid #c9c6c6; */
  border-radius:12px;
  background-color: white;
  padding: 10px;
}
.course-name{
  text-align: left;
  padding: 12px 0px 6px 0px;
  color: #1C1B1B;
  font-size: 17px;
  font-weight: 600;
}
.course-desc{
  color: rgba(28, 27, 27, 0.60);
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}
.card-info{
  padding: 7px 0px;
  color: rgba(28, 27, 27, 0.60);
  font-size: 15px;
  font-weight: 500;
}
.card-btn{
  padding: 6px 0px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #2F80ED;
  background: #2F80ED;
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
}
.right{
  text-align: left;
  border-radius:12px;
  background-color: white;
  padding: 10px;
  /* height: 512px; */
}
.cart-content h2{
  padding: 12px 0px;
  color: #2F80ED;
  font-size: 18px;
  font-weight: 700;
}
.cart-content h1{
  padding: 8px 0px;
  color: #1C1B1B;
  font-size: 20px;
  font-weight: 700;
}
.cart-content li{
  padding-bottom: 4px;
  color: rgba(22, 22, 22, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 30px; 
}
.cart-content h3{
  padding: 8px 0px;
  color: rgba(14, 13, 13, 0.8);
  font-size: 16px;
  font-weight: 600;
}