@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Inter', sans-serif;
  background: #F3F3F3
}
.course-title{
  font-size: 32px;
  font-weight: 700;
  color: #1C1B1B;
  
}
.cards{
  /* width: 850px; */
  /* display: flex;
  flex-wrap: wrap;
  height: 320px;
  gap: 10px; */
}
.card-items{
  /* width: 250px; */
  height: 320px;
  /* border: 1px solid #c9c6c6; */
  border-radius:12px;
  background-color: white;
  padding: 10px;
}

.right{
  border-radius:12px;
  background-color: white;
  padding: 10px;
  /* height: 512px; */
}